@model ShowManager.Models.VenueDetail

@{
    ViewBag.Title = "Delete";
}

@Html.HiddenFor(model => model.VenueID)

<div class="container col-md-8 col-md-offset-2 detail-block">
    <div class="headline">
        <h1>Would You Like To Delete This Show?</h1>
        <h2 id="objectName">
            @Html.DisplayFor(model => model.VenueName)
        </h2>
    </div>
    <div class="row " id="venue_details">
        <div class="col-md-4 col-md-offset-2">

            <b>
                Located In:
            </b>
            @Html.DisplayFor(model => model.Location)
        </div>
        <div class="col-md-4">
            <b>
                Type of Venue:
            </b>
            @Html.DisplayFor(model => model.VenueType)

        </div>

    </div> <!--end of row-->
    <hr />
    <div class="row">
        <div class="table_block col-md-4 col-md-offset-2" id="show_history">
            <h4>Show History</h4>
            <ul id="show_history">
                @foreach (var show in Model.ListOfShows)
                {
                    <li>
                        @show.ShowName
                    </li>
                }

            </ul>
        </div>

        <div class="table_block col-md-4 " id="artist_community">
            <h4>Artist Community</h4>
            <ul class="data_list" id="artist_community">
                @foreach (var artist in Model.ArtistCommunity)
                {
                    <li class="col-md-offset-3 list_item">
                        @artist.ArtistName
                    </li>
                }
            </ul>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="action-links">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>
