@model ShowManager.Models.VenueDetail

@{
    ViewBag.Title = "Details";
}
@Html.HiddenFor(model => model.VenueID)

<div class="container col-md-8 col-md-offset-2 detail-block">
    <div class="headline">
        <h2 id="objectName">
            @Html.DisplayFor(model => model.VenueName)
        </h2>
    </div>
    <div class="row " id="venue_details">
        <div class="col-md-4 col-md-offset-2">
            
                <b>
                    Located In:
                </b>
                @Html.DisplayFor(model => model.Location)
        </div>
        <div class="col-md-4">
            <b>
                Type of Venue:
            </b>
            @Html.DisplayFor(model => model.VenueType)
            
        </div>
    
    </div> <!--end of row-->
    <hr />
    <div class="row">
        <div class="table_block col-md-4 col-md-offset-2" id="show_history">
            <h4>Show History</h4>
            <ul id="show_history">
                @foreach (var show in Model.ListOfShows)
                {
                    <li>
                        @show.ShowName
                    </li>
                }

            </ul>
        </div>

        <div class="table_block col-md-4 " id="artist_community">
            <h4>Artist Community</h4>
            <ul class="data_list" id="artist_community">
                @foreach (var artist in Model.ArtistCommunity)
                {
                <li class=" col-md-offset-3 list_item">
                    @Html.ActionLink(artist.ArtistName, "Details", "Artist", new { id = artist.ArtistID }, new { @class = "action-links" })
                </li>
                }
            </ul>
        </div>
    </div>
    <p class="action-links">
        @Html.ActionLink("Add a Show", "CreateShowFromVenueIndex", "Show", new { id = Model.VenueID }, null) |
        @Html.ActionLink("Edit Venue", "Edit", new { id = Model.VenueID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div> <!-- closing tag for detail-block-->
