@model ShowManager.Models.VenueDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VenueDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VenueID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueType)
        </dd>

        <dt>
            Shows at Venue
        </dt>
        @foreach( var show in Model.ListOfShows)
        {
            <dd>
                @show.ShowName
                
            </dd>
           
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VenueID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
