@model ShowManager.Models.ArtistDetail

@{
    ViewBag.Title = "Details";
}

@Html.HiddenFor(model => model.ArtistID)
<div class="container col-md-8 col-md-offset-2 detail-block">
    <div class="headline">
        <h2 id="objectName">
            @Html.DisplayFor(model => model.ArtistName)
        </h2>
    </div>
    <hr/>
    <div class="row">
        <div class="table_block col-md-4">
            <h4> Artist Community</h4>
            <ul class="data_list">
                @foreach (var artist in Model.ArtistCommunity)
                {
                    <li>
                        @artist.ArtistName
                    </li>
                }
            </ul>
        </div>
        <div class="table_block col-md-4">
            <h4> History of Shows</h4>
            <ul class="data_list">
                @foreach (var show in Model.ListOfShows)
                {
                    <li>
                        @show.ShowName
                    </li>
                }

            </ul>
        </div>
        <div class="table_block col-md-4">
            <h4> Venues Played</h4>
            <ul class="data_list">
                @foreach (var venue in Model.VenuesPlayed)
                {
                    <li>
                        @venue.VenueName
                    </li>
                }
            </ul>
        </div>
    </div>


<p class="action-links">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

</div> <!-- closing tag for detail-block-->
<div>


</div>
