@model ShowManager.Models.ShowDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShowDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ShowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfShow)
        </dd>

        <dt>
            Artists on Bill
        </dt>
        @foreach( var artist in Model.ListOfArtist)
        {
            <dd>
                @artist.ArtistName
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ShowID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
