@model ShowManager.Models.ShowDetail

@{
    ViewBag.Title = "Details";
}


<div class="container col-md-8 col-md-offset-2 detail-block">
    <div class="row">

        <div class="headline">
            <h2 id="showName">
                @Html.DisplayFor(model => model.ShowName)
            </h2>
            <hr />
            <h4 id="venueName">
                @Html.DisplayFor(model => model.VenueName)
            </h4>
            <h6>
                @Html.DisplayFor(model => model.DateOfShow)
            </h6>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <h4>Artist Line Up</h4>
            <ul id="artist_lineup">
                @foreach (var artist in Model.ListOfArtist)
                {
                    <li class="artist_lineup_item">
                        @artist.ArtistName
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <h4 id="venue_header">Venue Details</h4>
            <ul id="venue-details">
                <li>
                    @Html.DisplayFor(model => model.VenueName)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Location)
                </li>
                <li>
                    @Html.DisplayFor(model => model.VenueType)
                </li>

            </ul>


        </div>
    </div>
    <div class="row">
        <p class="action-links">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ShowID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

<br />
