@model ShowManager.Models.ShowDetail

@{
    ViewBag.Title = "Details";
}


<div class="container col-md-8 col-md-offset-2 detail-block">
    <div class="row">

        <div class="headline">
            <h2 id="objectName">
                @Html.DisplayFor(model => model.ShowName)
            </h2>
            <hr />
            <h4 id="venueName">
                @Html.DisplayFor(model => model.VenueName)
            </h4>
            <h6>
                @Html.DisplayFor(model => model.DateOfShow)
            </h6>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h4 class="col-md-offset-1">Artist Line Up</h4>
            <ul class="data_list col-md-10">
                @foreach (var artist in Model.ListOfArtist)
                {
                <li class="list_item">
                    
                    @Html.ActionLink(artist.ArtistName, "Details","Artist", new { id = artist.ArtistID }, new { @class = "action-links"})
                    
                </li>
                }
            </ul>          
        </div>
        <div class="col-md-4 col-md-offset-0">
            <h4 id="venue_header">Venue Details</h4>
            <ul class="data_list"  id="venue_details_inShow">
             
                <li>
                   <b>Location:</b> @Html.DisplayFor(model => model.Location)
                </li>
                <li>
                   <b>Venue Type:</b> @Html.DisplayFor(model => model.VenueType)
                </li>
               

            </ul>


        </div>
    </div>
    <div class="row">
        <p class="action-links">
            @Html.ActionLink("Add Artist", "AddArtistToShow", new { showID = Model.ShowID }) |
                    @Html.ActionLink("Venue Details", "Details", "Venue", new { id = Model.VenueID }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = Model.ShowID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

<br />
